@model Contact
@{
    ViewData["Title"] = "Edit Contact";
}


<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        function editContact() {
            var url = "/api/v1/Contacts";
            var data = {};
            data.Id = document.getElementById("cId").value;
            data.contactName = document.getElementById("cn").value;
            data.contactSurname = document.getElementById("cs").value;
            data.contactEmail = document.getElementById("ce").value;
            data.telephoneNumber = document.getElementById("tn").value;
            data.description = document.getElementById("cd").value;
            var json = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send(json);
    }
    </script>
    <style>

        body {
            background-color: burlywood;
        }

        .jumbotron {
            text-align: center;
            width: 30rem;
            border-radius: 0.5rem;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            margin: 4rem auto;
            background-color: burlywood;
            padding: 2rem;
        }

        .container .glyphicon-list-alt {
            font-size: 10rem;
            margin-top: 3rem;
            color: #f96145;
        }

        input {
            width: 100%;
            margin-bottom: 1.4rem;
            padding: 1rem;
            background-color: #ecf2f4;
            border-radius: 0.2rem;
            border: none;
        }

        h2 {
            margin-bottom: 3rem;
            font-weight: bold;
            color: white;
        }

        .btn {
            border-radius: 0.2rem;
        }

            .btn .glyphicon {
                font-size: 3rem;
                color: #fff;
            }

        .full-width {
            background-color: #8eb5e2;
            width: 100%;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <span class="glyphicon glyphicon-list-alt"></span>
            <h2>Edit Contact</h2>
            <form>
                <input type="hidden" id="cId" value="@Model.Id">
                <br />
                Contact Name : <input id="cn" type="text" name="contactName" pattern="^[A-Za-zА-Яа-я]{2,15}$" value="@Model.contactName" placeholder="" required>
                <br />
                Contact Surname : <input id="cs" type="text" name="contactSurname" pattern="^[A-Za-zА-Яа-я]{2,15}$" value="@Model.contactSurname" placeholder="" required>
                <br />
                Contact Email : <input id="ce" type="email" name="contactEmail" value="@Model.contactEmail" placeholder="" required>
                <br />
                Telephone Number : <input id="tn" type="text"  pattern="375[0-9]{9}" name="telephoneNumber" value="@Model.telephoneNumber" placeholder="" required>
                <br />
                Description : <input id="cd" type="text" pattern="^[A-Za-zА-Яа-я0-9,\.\(\)\-]{1,25}$" name="description" value="@Model.description" placeholder="" required>
                <br />
            </form>
            <button onclick="editContact()">Edit Contact</button>
        </div>
    </div>
</body>

</html>


