
@{
    Layout = null;
}

@model IEnumerable<Contact>
<table class="table">
    <tr>
        <td>
            Contact Name
            <br /> <a asp-action="nameAsc" asp-controller="Home"> Asc </a> <a asp-action="nameDsc" asp-controller="Home"> Desc </a>
        </td>
        <td>
            Contact Surname
            <br /> <a asp-action="surnameAsc" asp-controller="Home"> Asc </a> <a asp-action="surnameDsc" asp-controller="Home"> Desc </a>
        </td>
        <td>
            Contact Email
            <br /> <a asp-action="emailAsc" asp-controller="Home"> Asc </a> <a asp-action="emailDsc" asp-controller="Home"> Desc </a>
        </td>
        <td>
            Telephone Number
        </td>
        <td>
            Description
        </td>
        <td>
            Edit
        </td>
        <td>
            Delete
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.contactName </td>
            <td> @item.contactSurname</td>
            <td>@item.contactEmail</td>
            <td>@item.telephoneNumber</td>
            <td>@item.description</td>
            <td>
                <a href="~/Home/getEditPage/?id=@item.Id"> Edit </a>
            </td>
            <td>
                <button class="btn btn-lg btn-success btn-block" onclick="deleteContact(@item.Id)">Delete</button>
            </td>
        </tr>
    }
</table>
    </div>


